/* responsive */
@media (max-width: 1280px) {
    .navigation-header {
        padding: 10px 40px;
        position: absolute;
        top: 80px;
        left: 0px;
        flex-grow: 0;
        width: 100%;
        box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
        border-top: 1px solid #bebebe;
        opacity: 0;
    }

    .slide-down {
        opacity: 1 !important;
        animation: slideDown 0.5s;
    }

    .navigation-header .nav-item {
        list-style: none;
        /* display: block; */
        display: none;
        padding: 10px;
        text-align: left;
    }
    .navigation-header .nav-item:nth-last-child(2) a {
        display: block;
        margin-bottom: -10px;
        text-align: center;
    }

    .navigation-header .nav-item:last-child a {
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .active > a,
    .navigation-header .nav-item a:hover {
        color: #ff9045;
        border-bottom: none;
    }

    .navigation-header-responsive {
        display: inline-block;
    }

    .jumbotron {
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .text-jumbotron > h1 {
        font-size: 35px;
    }

    .illustration > img {
        width: 300px;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-us-image {
        display: none;
    }
    .about-us-description {
        padding: 40px 45px 90px 90px;
    }
    .about-us-description h2 {
        font-size: 28px;
    }
    .categories-header h2 {
        font-size: 28px;
    }
    .categories-container {
        grid-template-columns: auto auto auto;
        margin-bottom: 0px;
    }

    .courses {
        padding-bottom: 50px !important;
    }
    .courses-header h2 {
        font-size: 28px;
    }
    .courses-container {
        grid-template-columns: auto auto auto;
        margin-bottom: 0px;
    }
    .courses-content .courses-category {
        padding-left: 15px;
    }
    .mentor-header h2 {
        font-size: 28px;
    }
    .testimonal-header h2 {
        font-size: 28px;
    }
    .blog {
        padding-bottom: 50px !important;
    }
    .blog-header h2 {
        font-size: 28px;
    }
    .blog-container {
        grid-template-columns: auto auto;
        margin-bottom: 0px;
    }
    .blog-content .blog-category {
        padding-left: 75px;
    }

    .footer-content {
        text-align: left;
        flex-direction: column;
    }

    .footer-menu {
        margin: 40px 0px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 999px) {
    .navigation-header {
        padding: 5px;
    }
    .header-logo {
        margin-left: 70px;
    }

    header > nav {
        padding: 5px;
    }

    .jumbotron {
        flex-direction: column-reverse;
        margin-top: 0px;
        text-align: center;
    }

    .text-jumbotron > h1 {
        font-size: 35px;
    }

    .text-jumbotron > p {
        text-align: justify;
        font-size: 16px;
        margin-top: 25px;
        padding-right: 0px;
    }

    .illustration > img {
        width: 300px;
        margin-bottom: 20px;
    }

    .courses {
        padding-bottom: 50px !important;
    }
    .courses-header h2 {
        font-size: 28px;
    }
    .courses-container {
        grid-template-columns: auto auto;
        margin-bottom: 0px;
    }
    .courses-content .courses-category {
        padding-left: 35px;
    }
    .mentor-header h2 {
        font-size: 28px;
    }
    .testimonal-header h2 {
        font-size: 28px;
    }
    .mentor-container {
        grid-template-columns: auto auto auto;
        margin-bottom: 0px;
    }
    .blog {
        padding-bottom: 50px !important;
    }
    .blog-header h2 {
        font-size: 28px;
    }
    .blog-container {
        grid-template-columns: auto auto;
        margin-bottom: 0px;
    }
    .blog-content .blog-category {
        padding-left: 25px;
    }

    .contact-bio {
        margin-bottom: 40px;
    }

    .table-responsive {
        overflow: scroll;
    }
}

@media screen and (max-width: 900px) {
    .contacts {
        padding: 40px 45px 45px 80px;
    }

    .contact-form,
    .contact-bio {
        padding: 0px;
    }

    .contact-form {
        margin-bottom: 35px;
    }
    .contact-container {
        flex-direction: column;
        margin-top: -1px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 758) {
    .navigation-header {
        padding: 10px 20px;
    }

    .header-logo {
        margin-left: 70px;
    }

    .jumbotron {
        margin-top: 10px;
    }

    .about-us {
        height: auto;
    }

    .about-us-image {
        display: none;
    }
    .about-us-description {
        padding: 40px 45px 45px 45px;
    }

    .categories {
        padding: 40px 45px 45px 45px;
    }

    .categories-header > h2 {
        font-size: 20px;
    }

    .button-view-all {
        font-size: 12px;
    }

    .categories-container {
        grid-template-columns: auto auto auto;
    }

    .courses {
        padding: 40px 45px 45px 45px;
    }

    .courses-header > h2 {
        font-size: 20px;
    }

    .courses-container {
        grid-template-columns: auto;
    }

    .mentor {
        padding: 40px 45px 45px 45px;
    }

    .mentor-header > h2 {
        font-size: 20px;
    }

    .mentor-container {
        grid-template-columns: auto auto auto;
    }

    .blog {
        padding: 40px 45px 45px 45px;
    }

    .blog-header > h2 {
        font-size: 20px;
    }

    .blog-container {
        grid-template-columns: auto auto;
    }

    .contacts {
        padding: 40px 45px 45px 45px;
    }

    .contact-form,
    .contact-bio {
        padding: 0px;
    }

    .contact-form {
        margin-bottom: 35px;
    }
    .table-responsive {
        width: 90%;
    }

    .footer-copyright p {
        font-size: 14px;
        padding: 30px;
    }
    .social-media,
    .social-media-group a {
        width: 20px;
        height: 20px;
    }
}
@media screen and (max-width: 757px) {
    .blog-container {
        grid-template-columns: auto auto;
    }
    .blog-content .blog-category {
        padding-left: 10px;
    }
    .section-testimonal {
        background-position-x: 10rem;
    }
    .testimonal-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 722px) {
    .mentor-container {
        grid-template-columns: auto auto;
    }
    .courses-container {
        grid-template-columns: auto;
    }
    .courses-content .courses-category {
        padding-left: 100px;
    }
    .blog-container {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 521px) {
    .categories-container {
        grid-template-columns: auto auto;
    }

    .mentor-container {
        grid-template-columns: auto;
    }
    .testimonal-container {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 500px) {
    .navigation-header {
        padding: 10px 20px;
    }

    .header-logo {
        margin-left: 40px;
    }

    .jumbotron {
        margin-top: 10px;
    }

    .about-us {
        height: auto;
    }

    .about-us-image {
        display: none;
    }
    .about-us-description {
        padding: 40px 45px 45px 45px;
    }

    .categories {
        padding: 40px 45px 45px 45px;
    }

    .categories-header > h2 {
        font-size: 20px;
    }

    .button-view-all {
        font-size: 12px;
    }

    .categories-container {
        grid-template-columns: auto;
    }

    .courses {
        padding: 40px 45px 45px 45px;
    }

    .courses-header > h2 {
        font-size: 20px;
    }

    .courses-container {
        grid-template-columns: auto;
    }

    .courses-content .courses-category {
        padding-left: 52px;
    }

    .mentor {
        padding: 40px 45px 45px 45px;
    }

    .mentor-header > h2 {
        font-size: 20px;
    }

    .mentor-container {
        grid-template-columns: auto;
    }

    .blog {
        padding: 40px 45px 45px 45px;
    }

    .blog-header > h2 {
        font-size: 20px;
    }

    .blog-container {
        grid-template-columns: auto;
    }

    .contacts {
        padding: 40px 45px 45px 45px;
    }

    .contact-form,
    .contact-bio {
        padding: 0px;
    }

    .contact-form {
        margin-bottom: 35px;
    }
    .contact-container {
        flex-direction: column;
        margin-top: -1px;
        margin-bottom: 0px;
    }
    .table-responsive {
        width: 90%;
    }

    .footer-copyright p {
        font-size: 14px;
        padding: 30px;
    }
    .social-media,
    .social-media-group a {
        width: 20px;
        height: 20px;
    }
    .testimonal-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 375px) {
    .jumbotron {
        margin-top: 100px;
    }
    .illustration > img {
        width: 250px;
        margin-bottom: 20px;
    }
    .categories-header a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .courses-container {
        grid-template-columns: auto;
    }
    .courses-header a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .courses-content {
        padding: 0px;
        margin-top: 20px;
    }
    .author {
        margin-left: 13px;
    }
    .courses-content .courses-category {
        padding-left: 60px;
        margin-top: 10px;
    }
    .courses-content h4 a {
        margin-left: 13px;
        margin-right: 13px;
    }
    .courses-content .courses-description {
        margin-left: 13px;
        margin-right: 13px;
        margin-bottom: 20px;
    }

    .mentor-header a {
        padding-left: 10px;
        padding-right: 10px;
        width: 80px;
    }
    .blog-container {
        grid-template-columns: auto;
    }
    .blog-header a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .blog-content {
        padding: 0px;
        margin-top: 20px;
    }
    .author {
        margin-left: 13px;
    }
    .blog-content .blog-category {
        padding-left: 60px;
        margin-top: 10px;
    }
    .blog-content h4 a {
        margin-left: 13px;
        margin-right: 13px;
    }
    .blog-content .blog-description {
        margin-left: 13px;
        margin-right: 13px;
    }
    .blog-content .button {
        margin-bottom: 20px;
    }
    input.btn-primary {
        margin-bottom: 10px;
    }
    .testimonal-container {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 350px) {
    .jumbotron {
        margin-top: 20px;
    }
    .illustration > img {
        width: 200px;
        margin-bottom: 20px;
    }
    .text-jumbotron h1 {
        font-size: 26px;
    }

    .about-us-description h2 {
        font-size: 18px;
        margin-bottom: -15px;
    }

    .about-us-description p {
        font-size: 14px;
    }
    .categories-header h2 {
        font-size: 18px;
    }
    .categories-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .courses-header h2 {
        font-size: 18px;
    }
    .courses-header a {
        padding-left: 10px;
        padding-right: 10px;
        width: 90px;
    }
    .courses-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .courses-content .courses-category a {
        padding: 5px 5px;
    }
    .courses-content .courses-category {
        padding-left: 15px;
        margin-top: 10px;
    }
    .mentor-header a {
        padding-left: 10px;
        padding-right: 10px;
        width: 100px;
    }

    .blog-header h2 {
        font-size: 18px;
    }
    .blog-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .blog-content .blog-category a {
        padding: 5px 5px;
    }
    .blog-content .blog-category {
        padding-left: 15px;
        margin-top: 10px;
    }
    .blog-item > a > img {
        height: 180px;
    }
    input.btn-primary {
        margin-bottom: 10px;
    }

    .testimonal-container {
        grid-template-columns: auto;
    }
}

/* end responsive */
