* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

header {
    margin: 0 auto;
    display: inline;
}

.header-logo {
    flex-grow: 1;
}

header > nav {
    position: sticky;
    top: 0;
    padding: 10px 70px;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: #fff;
}

nav > .navigation-header {
    flex-grow: 3;
    display: inline-block;
    text-align: right;
    background-color: #fff;
}

.navigation-header .nav-item {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.navigation-header .nav-item:nth-last-child(2) {
    margin-right: 10px;
}

.navigation-header .nav-item a {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.navigation-header .nav-item a:hover {
    color: #1c2891;
}

.navigation-header .nav-item:nth-last-child(2) a {
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid #1c2891;
    background-color: #fff;
    color: #1c2891;
}

.active > a,
.navigation-header .nav-item a:hover {
    color: #1c2891;
    border-bottom: 2px solid #1c2891;
}

.navigation-header .nav-item:nth-last-child(2) a:hover {
    background-color: #1c2891;
    border: 2px solid #1c2891;
    color: #fff;
}

.navigation-header .nav-item:last-child {
    margin-right: 0px;
}

.navigation-header .nav-item a {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 5px;
}

.navigation-header .nav-item:last-child a {
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid #1c2891;
    background-color: #1c2891;
    color: #fff;
}

.navigation-header .nav-item:last-child a:hover {
    background-color: #fff;
    border: 1px solid #1c2891;
    color: #1c2891;
}

.navigation-header-responsive {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 35px;
    color: #212529;
}

/* jumbotron */

.jumbotron {
    display: flex;
    padding: 0px 70px;
    align-items: center;
    height: 100%;
}

.text-jumbotron,
.illustration {
    flex-grow: 3;
}

.illustration {
    padding-left: 0px;
}

.text-jumbotron > h1 {
    font-size: 50px;
    font-weight: 600;
    margin-top: -10px;
}

.text-jumbotron > p {
    padding-right: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #292727;
    line-height: 1.9;
    margin: 40px 0 50px;
}

.text-primary {
    color: #1c2891;
}

.btn {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #1c2891;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.btn-outline-primary {
    background-color: #fff;
    border: 3px solid #1c2891;
    color: #1c2891;
}

.btn-outline-primary:hover {
    background-color: #1c2891;
    color: #fff;
}

/* end jumbotron */

/* about us */
.about-us {
    padding-top: 30px;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
}

.about-us-image {
    flex-basis: 40%;
    /* background-image: url("../images/aboutus.svg"); */
    background-repeat: no-repeat;
    margin: 90px;
    height: 100%;
}

.about-us-description {
    flex-basis: 80%;
    padding: 120px 45px 90px 90px;
}

.about-us-description > h2,
.categories > h2,
.cerita-siswa-caption > h2 {
    font-size: 35px;
}

.about-us-description > p {
    margin: 30px 0px 10px;
    line-height: 2;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    color: #292727;
}

.status {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.status-divider {
    height: 70px;
    width: 2px;
    margin: 0px 35px;
    border-radius: 5px;
    background-color: #292727;
}

.status-header {
    font-size: 30px;
    font-weight: 800;
}

.status-description {
    font-weight: 700;
    margin-left: 6px;
}
/* end tentang kami */

/* categories */
.categories {
    padding: 80px 70px 80px;
}

.categories-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.categories-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.categories-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}
.button-view-all {
    background-color: #1c2891;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.button-view-all:hover {
    background-color: #040f6b;
}

.categories-container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 14.9% 14.9% 14.9% 14.9% 14.9% 14.9%;
    gap: 25px;
}

.categories-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    flex-basis: 15%;
    border-radius: 15px;
    border: 0.2px solid rgba(1, 7, 66, 0.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.categories-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
    transform: scale(1.1);
}

.categories-item > a {
    text-decoration: none;
    color: #000;
}

.categories-content {
    padding: 40px 0px;
}

.categories-content > img {
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    justify-items: center;
}

.categories-description {
    padding: 10px 20px;
}

.categories-description h3 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

/* end categories */

/* courses */
.courses {
    padding: 30px 70px 0px 70px;
}

.courses-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.courses-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.courses-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.courses-container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    gap: 40px 25px;
}

.courses-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(1, 7, 66, 0.2);
    flex-basis: 15%;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.courses-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
    transform: scale(1.1);
}

.courses-item > a {
    text-decoration: none;
    color: #000;
}

.courses-item > a > img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.courses-content {
    padding: 30px;
}

.courses-content .section-author {
    position: relative;
    display: flex;
}

.courses-content .author {
    position: relative;
    display: flex;
}

.courses-content .author img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.courses-content .author .author-name {
    color: #081828;
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
    text-decoration: none;
    padding-left: 10px;
}

.courses-content .courses-category {
    padding-left: 22px;
    margin-top: 10px;
}

.courses-content .courses-category a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    background-color: #5d609b;
}

.courses-content h4 {
    display: block;
    line-height: 25px;
    margin-top: 15px;
}

.courses-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.courses-content h4 a:hover {
    color: #1c2891;
}
.courses-description p {
    margin-top: 10px;
    font-size: 12px;
    color: #393942;
}

.courses-description .price {
    display: flex;
    justify-content: space-between;
}
.courses-description .price .star {
    font-weight: 400;
    color: #6a6a72;
}
.courses-description .price p .checked {
    color: #cfbb02;
}
.courses-description .price p {
    margin-top: 22px;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

/* end courses */

/* mentor */
.mentor {
    padding: 90px 70px 50px;
    background-color: #f9f9f9;
}

.mentor-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.mentor-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.mentor-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.mentor-container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    gap: 40px 25px;
}

.mentor-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    flex-basis: 15%;
    border-radius: 5px;
    background-color: #fff;
}

.mentor-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
}

.mentor-item > a {
    text-decoration: none;
    color: #000;
}

.mentor-item > a > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mentor-content {
    padding: 30px;
}

.mentor-content h4 {
    display: block;
    line-height: 25px;
    margin-top: -10px;
}

.mentor-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.mentor-content h4 a:hover {
    color: #1c2891;
}
.mentor-description p {
    margin-top: 8px;
    font-size: 12px;
    color: #4a4a52;
    font-weight: 500;
}

/* end mentor */

/* testimonal */
.testimonal {
    padding: 90px 70px 80px;
}

.testimonal-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.testimonal-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.testimonal-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.testimonal-container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    gap: 40px 25px;
}

.testimonal-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    flex-basis: 15%;
    border-radius: 5px;
    background-color: #fff;
}

.testimonal-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
}

.testimonal-item > a {
    text-decoration: none;
    color: #000;
}

.testimonal-item > a > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.testimonal-content {
    padding: 30px;
}

.testimonal-content h4 {
    display: block;
    line-height: 25px;
    margin-top: -10px;
}

.testimonal-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.testimonal-content h4 a:hover {
    color: #1c2891;
}
.testimonal-description p {
    margin-top: 8px;
    font-size: 12px;
    color: #4a4a52;
    font-weight: 500;
}

/* end testimonal */

/* blog */
.blog {
    padding: 30px 70px 0px 70px;
}

.blog-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.blog-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.blog-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.blog-container {
    display: flex;
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 40px 25px;
}

.blog-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(1, 7, 66, 0.2);
    flex-basis: 15%;
    border-radius: 8px;
}

.blog-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
}

.blog-item > a {
    text-decoration: none;
    color: #000;
}

.blog-item > a > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-content {
    padding: 40px;
}

.blog-content .section-author {
    position: relative;
    display: flex;
}

.blog-content .author {
    position: relative;
    display: flex;
}

.blog-content .author img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.blog-content .author .author-name {
    color: #081828;
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
    text-decoration: none;
    padding-left: 10px;
}

.blog-content .blog-category {
    padding-left: 112px;
    margin-top: 10px;
}

.blog-content .blog-category a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    background-color: #5d609b;
}

.blog-content h4 {
    display: block;
    line-height: 25px;
    margin-top: 15px;
}

.blog-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.blog-content h4 a:hover {
    color: #1c2891;
}
.blog-description p {
    margin-top: 8px;
    font-size: 12px;
    color: #393942;
    font-weight: 500;
}
.blog-description .text {
    margin-top: 15px;
    font-size: 14px;
    color: #5e5e63;
    font-weight: 400;
}
.blog-description .button {
    display: flex;
    justify-content: space-between;
}
.blog-description .button a {
    margin-top: 30px;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
}
.blog-description .button a:hover {
    background-color: #040f6b;
}

/* end blog */
