* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fff;
}

header {
    margin: 0 auto;
    display: inline;
}

.header-logo {
    flex-grow: 1;
}

header > nav {
    position: sticky;
    top: 0;
    padding: 10px 70px;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 1;
    background-color: #fff;
}

nav > .navigation-header {
    flex-grow: 3;
    display: inline-block;
    text-align: right;
    background-color: #fff;
}

.navigation-header .nav-item {
    list-style: none;
    display: inline;
    margin-right: 30px;
}

.navigation-header .nav-item:nth-last-child(2) {
    margin-right: 10px;
}

.navigation-header .nav-item a {
    background-color: #fff;
    color: #000;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.navigation-header .nav-item a:hover {
    color: #1c2891;
}

.navigation-header .nav-item:nth-last-child(2) a {
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid #1c2891;
    background-color: #fff;
    color: #1c2891;
}

.active > a,
.navigation-header .nav-item a:hover {
    color: #1c2891;
    border-bottom: 2px solid #1c2891;
}

.navigation-header .nav-item:nth-last-child(2) a:hover {
    background-color: #1c2891;
    border: 2px solid #1c2891;
    color: #fff;
}

.navigation-header .nav-item:last-child {
    margin-right: 0px;
}

.navigation-header .nav-item a {
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    padding-bottom: 5px;
}

.navigation-header .nav-item:last-child a {
    padding: 6px 15px;
    border-radius: 5px;
    border: 2px solid #1c2891;
    background-color: #1c2891;
    color: #fff;
}

.navigation-header .nav-item:last-child a:hover {
    background-color: #fff;
    border: 1px solid #1c2891;
    color: #1c2891;
}

.navigation-header-responsive {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: none;
    font-size: 35px;
    color: #212529;
}

/* jumbotron */

.jumbotron {
    display: flex;
    padding: 0px 70px;
    align-items: center;
    height: 100%;
}

.text-jumbotron,
.illustration {
    flex-grow: 3;
}

.illustration {
    padding-left: 0px;
}

.text-jumbotron > h1 {
    font-size: 50px;
    font-weight: 600;
    margin-top: -10px;
}

.text-jumbotron > p {
    padding-right: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #292727;
    line-height: 1.9;
    margin: 40px 0 50px;
}

.text-primary {
    color: #1c2891;
}

.btn {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
}

.btn-primary {
    background-color: #1c2891;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.btn-outline-primary {
    background-color: #fff;
    border: 3px solid #1c2891;
    color: #1c2891;
}

.btn-outline-primary:hover {
    background-color: #1c2891;
    color: #fff;
}

/* end jumbotron */

/* about us */
.about-us {
    padding-top: 30px;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
}

.about-us-image {
    flex-basis: 40%;
    background-repeat: no-repeat;
    margin: 90px;
    height: 100%;
}

.about-us-description {
    flex-basis: 80%;
    padding: 120px 45px 90px 90px;
}

.about-us-description > h2,
.categories > h2 {
    font-size: 35px;
}

.about-us-description > p {
    margin: 30px 0px 10px;
    line-height: 2;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    color: #292727;
}

.status {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.status-divider {
    height: 70px;
    width: 2px;
    margin: 0px 35px;
    border-radius: 5px;
    background-color: #292727;
}

.status-header {
    font-size: 30px;
    font-weight: 800;
}

.status-description {
    font-weight: 700;
    margin-left: 6px;
}
/* end tentang kami */

/* categories */
.categories {
    padding: 80px 70px 80px;
}

.categories-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.categories-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.categories-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}
.button-view-all {
    background-color: #1c2891;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}
.button-view-all:hover {
    background-color: #040f6b;
}

.categories-container {
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 14.9% 14.9% 14.9% 14.9% 14.9% 14.9%;
    gap: 25px;
}

.categories-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    flex-basis: 15%;
    border-radius: 15px;
    border: 0.2px solid rgba(1, 7, 66, 0.2);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.categories-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
    transform: scale(1.1);
}

.categories-item > a {
    text-decoration: none;
    color: #000;
}

.categories-content {
    padding: 40px 0px;
}

.categories-content > img {
    width: 100%;
    height: 50px;
    object-fit: contain;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    justify-items: center;
}

.categories-description {
    padding: 10px 20px;
}

.categories-description h3 {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

/* end categories */

/* courses */
.courses {
    padding: 30px 70px 0px 70px;
}

.courses-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.courses-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.courses-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.courses-container {
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    gap: 40px 25px;
}

.courses-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(1, 7, 66, 0.2);
    flex-basis: 15%;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.courses-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
    transform: scale(1.1);
}

.courses-item > a {
    text-decoration: none;
    color: #000;
}

.courses-item > a > img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.courses-content {
    padding: 30px;
}

.courses-content .section-author {
    position: relative;
    display: flex;
}

.courses-content .author {
    position: relative;
    display: flex;
}

.courses-content .author img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.courses-content .author .author-name {
    color: #081828;
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
    text-decoration: none;
    padding-left: 10px;
}

.courses-content .courses-category {
    padding-left: 22px;
    margin-top: 10px;
}

.courses-content .courses-category a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    background-color: #5d609b;
}

.courses-content h4 {
    display: block;
    line-height: 25px;
    margin-top: 15px;
}

.courses-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.courses-content h4 a:hover {
    color: #1c2891;
}
.courses-description p {
    margin-top: 10px;
    font-size: 12px;
    color: #393942;
}

.courses-description .price {
    display: flex;
    justify-content: space-between;
}
.courses-description .price .star {
    font-weight: 400;
    color: #6a6a72;
}
.courses-description .price p .checked {
    color: #cfbb02;
}
.courses-description .price p {
    margin-top: 22px;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

/* end courses */

/* mentor */
.mentor {
    padding: 90px 70px 50px;
    background-color: #f9f9f9;
}

.mentor-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.mentor-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.mentor-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.mentor-container {
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
    gap: 40px 25px;
}

.mentor-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    flex-basis: 15%;
    border-radius: 5px;
    background-color: #fff;
}

.mentor-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
}

.mentor-item > a {
    text-decoration: none;
    color: #000;
}

.mentor-item > a > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mentor-content {
    padding: 30px;
}

.mentor-content h4 {
    display: block;
    line-height: 25px;
    margin-top: -10px;
}

.mentor-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.mentor-content h4 a:hover {
    color: #1c2891;
}
.mentor-description p {
    margin-top: 8px;
    font-size: 12px;
    color: #4a4a52;
    font-weight: 500;
}

/* end mentor */

/* testimonal */
.testimonal {
    padding: 80px 70px 80px;
}

.testimonal-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.testimonal-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.testimonal-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.testimonal-container {
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
}

.card-testimonal {
    padding: 16px 32px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.section-testimonal {
    background: #733fc8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url("../images/quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 400px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section-testimonal:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.section-testimonal2 {
    background: #18202d;
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 400px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section-testimonal2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.userdetails {
    display: flex;
}
.imgbox {
    margin-right: 16px;
}
.imgbox img {
    border-radius: 50%;
    width: 32px;
    border: 2px solid #cec5c5;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box p {
    margin: 0;
}
.box .name {
    color: #f3deff;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}
.box .name.dark {
    color: #49505a;
}
.box .designation {
    color: #f3deff;
    opacity: 50%;
    font-size: 12px;
    margin-bottom: 15px;
}
.box .designation.dark {
    color: #49505a;
}
.review h4 {
    font-size: 15px;
    color: #f3deff;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 25px;
}
.review.dark h4 {
    color: #4b5258;
}
.review p {
    font-size: 13px;
    color: #f7f7f7;
    font-weight: 300;
    opacity: 0.6;
    line-height: 1.5;
    margin-bottom: 20px;
}
.review.dark p {
    color: #0e0e0e;
}

/* end testimonal */

/* blog */
.blog {
    padding: 90px 70px 0px 70px;
    background-color: #f9f9f9;
}

.blog-header {
    display: flex;
    width: auto;
    justify-content: space-between;
    height: 40px;
}

.blog-header > h2 {
    margin-top: 0px;
    font-size: 35px;
    font-weight: 700;
}

.blog-header > a {
    padding: 10px 30px;
    border-radius: 5px;
}

.blog-container {
    align-items: center;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 40px 25px;
}

.blog-item {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(1, 7, 66, 0.2);
    flex-basis: 15%;
    border-radius: 8px;
}

.blog-item:hover {
    box-shadow: 4px 4px 10px 1px rgba(1, 7, 66, 0.2);
}

.blog-item > a {
    text-decoration: none;
    color: #000;
}

.blog-item > a > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-content {
    padding: 40px;
}

.blog-content .section-author {
    position: relative;
    display: flex;
}

.blog-content .author {
    position: relative;
    display: flex;
}

.blog-content .author img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.blog-content .author .author-name {
    color: #081828;
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
    text-decoration: none;
    padding-left: 10px;
}

.blog-content .blog-category {
    padding-left: 112px;
    margin-top: 10px;
}

.blog-content .blog-category a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
    background-color: #5d609b;
}

.blog-content h4 {
    display: block;
    line-height: 25px;
    margin-top: 15px;
}

.blog-content h4 a {
    font-size: 18px;
    color: #081828;
    text-decoration: none;
    display: inline-block;
}
.blog-content h4 a:hover {
    color: #1c2891;
}
.blog-description p {
    margin-top: 8px;
    font-size: 12px;
    color: #393942;
    font-weight: 500;
}
.blog-description .text {
    margin-top: 15px;
    font-size: 14px;
    color: #5e5e63;
    font-weight: 400;
}
.blog-description .button {
    display: flex;
    justify-content: space-between;
}
.blog-description .button a {
    margin-top: 30px;
    font-weight: 300;
    color: #fff;
    font-size: 14px;
}
.blog-description .button a:hover {
    background-color: #040f6b;
}

/* end blog */

/* contacts */
.contacts {
    padding: 30px 70px 0px 70px;
}

.contact-container {
    display: flex;
    padding: 30px 0px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.text-danger {
    font-size: 12px;
    color: #ff0d0d;
    font-weight: 600;
}

.contact-form,
.contact-bio {
    flex: 3;
    padding: 0px 30px 0px 0px;
}

.contact-bio {
    flex: 1;
    padding: 0px 0px 0px 0px;
}

.contact-form > .card > h3 {
    text-align: center;
    padding-top: 30px;
    border-radius: 5px 5px 0px 0px;
    font-size: 35px;
}

.contact-form > .card > h3::after {
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    margin: auto;
    margin-top: 15px;
    background-color: #1c2891;
}

.card {
    border-radius: 5px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.09);
    border: 1px solid rgba(1, 7, 66, 0.2);
}

.card h4 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
}

.form-group {
    margin: 30px 40px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border-style: none;
    border: 1px solid rgba(1, 7, 66, 0.2);
    border-radius: 5px;
}
textarea:focus,
input:focus {
    outline: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input.btn-primary {
    border-style: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    border: 1px solid rgba(1, 7, 66, 0.2);
}

input.btn-primary:hover {
    background-color: #040f6b;
    color: #fff;
    border: 1px solid rgba(1, 7, 66, 0.2);
}

.form-group > p {
    color: #8f8f8f;
    font-size: 13px;
}

.profile-contact {
    object-fit: cover;
    height: 140px;
    width: 140px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 1px solid rgba(1, 7, 66, 0.2);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.09);
}

.contact-bio {
    text-align: center;
}

.contact-bio > .card {
    padding: 10px 25px;
    position: relative;
}

.contact-bio > .card::after {
    content: " ";
    display: block;
    height: 130px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    background-color: #1c2891;
}

.text-muted {
    color: #5c5c61;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 30px;
    font-weight: 300;
}

.table-responsive {
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.contact-bio > table {
    border-spacing: 0px;
    width: auto;
    border: 1px solid #f7f7f7;
    margin-bottom: 55px;
}

tr,
th,
td {
    text-align: left;
    padding: 10px;
}

th {
    font-size: 14px;
    font-weight: 600;
}

td {
    font-size: 14px;
    font-weight: 400;
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}
/* end contacts */

/* footer */
.footer {
    background-color: #f9f9f9;
}

.footer-content {
    padding: 30px 70px 50px;
    display: flex;
}

.footer-logo,
.footer-contact,
.footer-menu {
    flex: 1;
}

.footer-menu {
    padding-left: 150px;
}

.footer-menu h4,
.footer-contact h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-contact p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #5c5c61;
}

.footer-menu li {
    list-style: none;
    margin: 0px 0px 15px;
    font-size: 15px;
}

.footer-menu li > a {
    text-decoration: none;
    color: #5c5c61;
}

.footer-menu li > a:hover {
    color: #1c2891;
}

.footer-logo > p {
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.8;
    text-align: justify;
    color: #5c5c61;
}

.footer-copyright {
    padding: 0px;
    margin-top: 50px;
    background-color: #1c2891;
}
.footer-copyright p {
    padding: 40px 0px 40px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.social-media {
    height: 25px;
    width: 25px;
    background-size: cover;
}

.social-media-group {
    margin-top: 26px;
}

.social-media-group a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
    height: 25px;
    width: 25px;
}

.instagram {
    background-image: url("../images/instagram.svg");
}

.facebook {
    background-image: url("../images/facebook.svg");
}

.twitter {
    background-image: url("../images/twitter.svg");
}
/* end footer */
